<div class="container" >

    <h5 style="font-family: auto; margin-top: 30px;">WELCOME, Udofot Glorious Uko.</h5>
    <label style="font-family: fantasy;">CSE 407 PRESENTATION</label>

    <div class="row">
        <div class="col-md-9">
            <div class="card-group mt-5">
   
   
                <div class="card">
                  <div class="card-body text-center">
                    
                    <p class="card-text">Faculties</p>
                    
                    <h2>{{facultyList}}</h2>
                  </div>
               </div>
            
               
               <div class="card">
                  <div class="card-body text-center ">
                    
                    <p class="card-text"> Department</p>
                    <h2>{{DeptList}}</h2>
                  </div>
                </div>
               
                
                
                <div class="card"> 
                  <div class="card-body text-center">
                    
                    <p class="card-text">Courses</p>
                    <h2>{{CourseList}}</h2>
                  </div>
                </div>
                
              
                
              </div>
        </div>

        <div class="col-md-3">
            <div class="card mt-5 " style="height: 120px;"> 
                <div class="card-body mt-4" style="margin-left: 40px;">
                  
              <p class="card-text">
                
                    <button type="submit" class="btn btn-block btn-success md-3 text-center">CSE407 Assignment</button>
                  
                </p>
                </div>
              </div>
        </div>
    </div>

</div>
  
